.App{
  background-color: #F2FBF6;
  padding: 32px 64px;
}
.analyze-button{
  width: 199px;
  height: 60px;
  background-color:rgba(0, 0, 0, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-family: 'Readex Pro';
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126.94px;
  border: 2px solid red;
}

.alogrand-list{
  text-align: center;
  line-height: 45px;
  font-size: 36px;
}

.bitcoin-icon{
  width: 30px;
  height: 57.39px;
}

