.App{
  background-color: #F2FBF6;
  padding: 32px 64px;
  font-family: 'Readex Pro', sans-serif;
}

.logo{
  width: 150px;
  height: 62.94px;
}
.analyze-button{
  width: 199px;
  height: 60px;
  background-color:rgba(0, 0, 0, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126.94px;
}

.alogrand-list{
  text-align: center;
  line-height: 45px;
  font-size: 36px;
}

.bitcoin-icon{
  width: 40px;
  height: 40px;
}

.coin-name{
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  /* margin-top: 0px; */
  text-align: center;
}

.Available,.unavailable{
  width: 68px;
  height: 31px;
  background-color: #6FD791;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 0.6rem;
}

.unavailable{
  background-color:rgba(188, 49, 49, 1);
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 8px;
  width: 270px;
  height: 185px;
  border: 1px solid #B7BECC;
  border-radius: 10px;

}

.assetCards{
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 100px;
}

@media screen and (max-width:800px) {
  .App{
    padding: 0px 15px;
  }
  .logo{
    width: 90px;
    height: 50px;
  }
  .analyze-button{
    width: 100px;
    height: 40px;
    font-size: 0.6rem;
    
  }
  
  header{
    display: flex;
    gap: 1rem;
    height: 126.94px;
  }
  
  .assetCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width:600px) and (max-width: 1200px) {
  .assetCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

